<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Library</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>

	<div class="container">


	</div>

	<script id='authors-list' type='text/template'>
		<h1>Authors</h1>
		<a href="#/newauthor" class="btn btn-primary">New author</a>
		<hr />
		<table class="table striped">
			<thead>
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="page">							

			</tbody>
		</table>
	</script>
	
	<script id="authors-list-item" type="text/template">	
		<td><%= htmlEncode(first_name) %></td>
		<td><%= htmlEncode(last_name) %></td>
		<td></td>
	</script>

	<script id="publishers-list-item" type="text/template">
		<td><%= htmlEncode(name) %></td>
		<td><%= htmlEncode(established_year) %></td>
		<td></td>
	</script>

	<script id='edit-author' type='text/template'>
		<h1>Authors</h1>
		<hr />
		<form action="" class="edit-author-form">
			<legend>Create Author:</legend>
			<label>First name:</label>
			<input type="text" name="first_name" />
			<label>Last name:</label>
			<input type="text" name="last_name" />
			<hr />
			<button type="submit" class="btn">Create Author</button>
		</form>
	</script>

	
	
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>	
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/app/models/author.js"></script>
	<script src="/app/models/publisher.js"></script>
	<script src="/app/collections/authors.js"></script>
	<script src="/app/collections/publishers.js"></script>
	<script src="/app/views/authors.js"></script>
	<script src="/app/views/publishers.js"></script>
	<script src="/app/helpers/applicationhelper.js"></script>

	<script type="text/javascript">

		window.EditAuthorView = Backbone.View.extend({
			el: '.container',
			render: function(){
				var template = _.template($('#edit-author').html());
				this.$el.html(template);
			},
			events: {
				'submit .edit-author-form': 'saveAuthor'
			},
			saveAuthor: function(ev){
				var authorDetails = $(ev.currentTarget).serializeObject();
				var author = new Author();
				author.save(authorDetails, {
				success: function(author){
						router.navigate('', {trigger:true});
					}
				});
				console.log(authorDetails);
				return false;
			}
		})

		window.Router = Backbone.Router.extend({
			routes: {
				'': 'authorsList',
				'authors': 'authorsList',
				'newauthor': 'editAuthor',
				'publishers' : 'publishersList'
			},
			authorsList: function(){
				var self = this;
				var template = _.template($('#authors-list').html());
				$('.container').empty();
				$('.container').html(template);
				this.authors = new Authors();
				this.authorsListView = new AuthorsListView();
				this.authorsListView.authors = this.authors;
				this.authors.fetch().success(function() {
        	self.authorsListView.render();
      	});
			},
			editAuthor: function(){
				var self = this;
				$(".container").empty();
				this.editAuthorView = new EditAuthorView();
				this.editAuthorView.render();
			},
			publishersList: function(){
				var self = this;
				$(".page").empty();
				this.publishers = new Publishers();
				this.publishersListView = new PublishersListView();
				this.publishersListView.publishers = this.publishers;
				this.publishers.fetch().success(function(){
					self.publishersListView.render();
				});
			}
		});

		var router = new Router();
		Backbone.history.start();

	</script>
		
</body>
</html>