<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Library</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<h1>Authors:</h1>
		<hr />
		<div class="page">
			
		</div>
	</div>
	<script id="author-list-item" type="text/template">
	<%= first_name %>
	<%= last_name %>
	</script>

	
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>	
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/app/models/author.js"></script>
	<script src="/app/collections/authors.js"></script>

	<script type="text/javascript">
		
		//Ajax Prefilter
		$.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
  		options.url = 'https://safe-dusk-6297.herokuapp.com/api' + options.url;
		});

		window.AuthorsItemView = Backbone.View.extend({
			tagName: "div",
			template: _.template($("#author-list-item").html()),
			render: function() {
        this.$el.html(this.template(this.model.toJSON()));
        console.log(this.model.toJSON());
        return this;
       }
		});

		window.AuthorsListView = Backbone.View.extend({
			el: '.page',
			render: function(){
				var self = this;
				console.log(self.authors.models);
          _.each(self.authors.models, function(author) {
          	console.log(author);
            self.$el.append(new AuthorsItemView({model: author}).render().el);
          });
			}
		});



		var Router = Backbone.Router.extend({
			routes: {
				'authors': 'authorsList'
			},
			authorsList: function (){
				var self = this;
				this.authors = new Authors();
				this.authorsListView = new AuthorsListView();
				this.authorsListView.authors = this.authors;
				this.authors.fetch().success(function() {
        	self.authorsListView.render();
      	});
			}
		});

		var router = new Router();


		Backbone.history.start();

	</script>
		
</body>
</html>